@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "swiper/swiper.scss";

/* CONTROLS */

.range {
  font-weight: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  // background-color: darkgrey;
  background-color: #00006b;
  filter: blur(3px);
  cursor: ew-resize;
  outline: none;
}

.btn-mode + .range {
  display: none;
}

.btn-mode.active + .range {
  display: inline;
}

/* SWIPER */

.swiper-container {
  height: 80vh;
  margin: 10vh 0;
}

.swiper-container[mode="scroll"] {
  height: auto;

  .swiper-wrapper {
    flex-direction: column;
  }

  .swiper-slide {
    height: 80vh;
    margin-bottom: 2em;
  }
}

.swiper-container[mode="scroll"],
.swiper-container[mode="strobo"] {
  .swiper-next,
  .swiper-prev {
    display: none;
  }
}

.swiper-next {
  right: 0;
  cursor: e-resize;
}

.swiper-prev {
  cursor: w-resize;
}
